.hero__wrapper {
  padding-top: 223px;
  margin-bottom: 115px;
  transition: all 0.35s ease;
  @media (max-width: 1400px) {
    padding-top: 160px;
  }
  @media (max-width: 1200px) {
    padding-top: 120px;
  }
  @media (max-width: 992px) {
    padding-top: 100px;
  }
}

.hero__heading {
  text-align: center;
  margin-bottom: 40px;
  margin-left: 3px;
}

@media (max-width: 1400px) {
  .hero__heading {
    margin-left: 0;
  }
}

.hero__title {
  margin-bottom: 16px;
  span {
    margin-left: 14px;
  }
}

@media (max-width: 1400px) {
  .hero__title {
    span {
      margin-left: 0;
    }
  }
}

@media (max-width: 992px) {
  .hero__title {
    margin-bottom: 10px;
  }
}

.hero__subtitle {
  margin-left: 14px;
}

@media (max-width: 1400px) {
  .hero__subtitle {
    margin-left: 0;
  }
}

.hero__btn {
  display: flex;
  justify-content: center;
  margin-left: 19px;
  a {
    display: inline-block;
  }
}

@media (max-width: 1400px) {
  .hero__btn {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .hero__btn {
    .btn--green {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
}
