.button {
  font-family: $font--secondary, sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 32px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.btn--orange {
  @extend .button;
  color: $gray-12;
  background-color: $orange-2;
  border: 1px solid $orange-2;
  transition: all 0.35s ease;
}

@media (min-width: 1200px) {
  .btn--orange:hover {
    background-color: $gray-1;
    border-color: $gray-1;
    color: $orange-3;
    box-shadow: 0 8px 24px 0 rgba(62, 128, 40, 0.16);
  }
}

.btn--green {
  @extend .button;
  color: $gray-1;
  background-color: $green-8;
  border: 1px solid $green-8;
  transition: all 0.35s ease;
}

@media (min-width: 1200px) {
  .btn--green:hover {
    background-color: $gray-1;
    border-color: $gray-1;
    color: $green-8;
    box-shadow: 0 8px 24px 0 rgba(38, 65, 31, 0.16);
  }
}

.btn--transparent {
  @extend .button;
  background-color: transparent;
  color: $green-8;
  border: 1px solid $green-11;
  transition: all 0.35s ease;
  .btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(62, 128, 40, 0.16);
    border-radius: 50px;
    margin-right: 10px;
    transition: all 0.35s ease;
    .user-logo--white {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .btn--transparent:hover {
    background-color: $green-8;
    border-color: $green-8;
    color: $gray-1;
    .btn-icon {
      background-color: $green-8;
      .user-logo {
        display: none;
      }
      .user-logo--white {
        display: block;
      }
    }
  }
}
