$primary-black: #000;
$primary-white: #fff;
$primary-error: #d40d14;

//   gray
$gray-1: #fcfcfd;
$gray-3: #eff0f3;
$gray-4: #e7e8ec;
$gray-8: #b9bbc6;
$gray-11: #62636c;
$gray-12: #1e1f24;

// green
$green-1: #fbfefa;
$green-2: #f5fbf4;
$green-3: #e4f9de;
$green-4: #d2f4c9;
$green-6: #ace09e;
$green-8: #6dbc56;
$green-11: #3e8028;
$green-12: #26411f;

// orange
$orange-2: #ffd17d;
$orange-3: #e6a500;

// blue
$blue-1: #c2ddf5;
