@font-face {
  font-family: "SS01 Regular";
  src: url("../assets/fonts/BWMODELICASS01-REGULAR.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "LGC Regular";
  src: url("../assets/fonts/BWMODELICALGC-MEDIUM.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Chap Regular";
  src: url("../assets/fonts/Chap Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

$font--primary: "SS01 Regular";
$font--secondary: "LGC Regular";
$font--heading: "Chap Regular";
